<div>
  <%= image_tag user_avatar(@user), alt: 'photo', class: 'avatar' %>
</div>

<h1 class="name"><%= @user.first_name %> <%= @user.last_name  %></h1>
<h3 class="username"></h3>

<button class="button">Add a question</button>